{% extends('base.html.twig') %}

{% block stylesheet %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<ul id="formulario">
<h1>Lista de usuarios</h1>
    {% for u in usuarios %}
        <li><b>Id:</b>{{ u.id }}</li>
        <br>
        <li><b>Usuario:</b>{{ u.username }}</li>
        <br>
        <br>
        <br>

    {% endfor %}

</ul>
<br>

{% endblock %}
